html { 
background-image:url('https://github.com/AlexandraRosenmann/AlexandraRosenmann.github.io/blob/ba44941346ea455befca84c42e630ba157b73609/IMG_1980.jpg?raw=true');
background-repeat:no-repeat;
background-position:center center;
}
